/* styles/style.css */

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #4a90e2;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333333;
}

input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="submit"],
button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4a90e2;
    color: #ffffff;
}

input[type="submit"]:hover {
    background-color: #357abd;
}

button {
    background-color: #50c878;
    color: #ffffff;
}

button:hover {
    background-color: #3e8e41;
}

#displayArea {
    background-color: #FFD700;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 200px;
}

#paginationControls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding: 0;
}

#paginationControls ul {
    list-style: none;
    padding: 0;
    display: flex;
}

#paginationControls li {
    margin: 0 5px;
}

#paginationControls a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #4a90e2;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#paginationControls a:hover {
    background-color: #f0f8ff;
    color: #357abd;
}

table td {
    padding: 10px;
    border: 5px solid #0033A0;
    text-align: left;

}

.table tr {
    background-color:#CE1126;
}